#update-available-foldout {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 4px;
    display: none;
}

#update-available-foldout Toggle VisualElement Label {
    color: rgba(255, 0, 0, 255);
    -unity-font-style: bold;
}

#debug-info {
    position: absolute;
    top: 0;
    right: 0;
    flex-grow: 1;
    align-items: flex-end;
    color: rgb(127, 127, 127);
}

#tab-content {
    flex-grow: 1;
}
