.dt-inspector-icon {
    background-image: resource("dt-banner");
    width: auto;
    -unity-background-scale-mode: scale-to-fit;
    height: 36px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-view-container {
    padding: 4px;
    margin-bottom: 8px;
}

.rmv-btn-container {
    flex-direction: row;
    justify-content: flex-end;
}
