#mappings-box {
    padding: 8px;
    margin-top: 8px;
}

#mappings-box > Label {
    -unity-font-style: bold;
    margin-bottom: 8px;
}

.add-field-container {
    flex-direction: row;
}

.add-field-container Label {
    -unity-text-align: middle-center;
}

.add-field-container ObjectField {
    flex-grow: 1;
}

.object-field-entry {
    flex-direction: row;
}

.object-field-entry ObjectField {
    flex-grow: 1;
}

.object-field-entry FloatField {
    width: 36px;
}
